<%- include ('partials/header.ejs') %> 
<%- include ('partials/navbar.ejs') %>

<body>
<div class="container">
    <hr>   
    <h2>Guia Press</h2>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
        <div class="card-footer">Footer</div>
    </div>

</body>

<%- include ('partials/footer.ejs') %>
